{{#partial "content"}}
<div class="jumbotron text-center">
    <h1>ENDANGERED ANIMALS' SIGHTINGS RECORDS</h1>

    <table class="table table-bordered">
        <th scope="col">Animal ID</th>
        <th scope="col">Ranger Name</th>
        <th scope="col">Animal  Name</th>
        <th scope="col">Animal Healthy</th>
        <th scope="col">Animal Age</th>
        <th scope="col">Location spotted</th>

        {{#each endangers}}

        <tr>
            <td class="table-success">{{id}}</td>
            <td class="table-success">{{rangerName}}</td>
            <td class="table-success">{{animalName}}</td>
            <td class="table-success">{{health}}</td>
            <td class="table-success">{{age}}</td>
            <td class="table-success">{{location}}</td>
        </tr>
        {{/each}}
    </table>
</div>
<a class="animated fadeInUp" href="/">Go Back</a>
{{/partial}}

{{>layout.hbs}}
